div:hover{border: 20px solid black;}
div:nth-child(3){ color: red ;font-style: italic; font-size: 10px;}
div:nth-child(4){ color:orange;font-family: sans-serif;}
div:nth-child(5){color: greenyellow;font-size: 30px;font-style: italic;}
div:nth-child(6){color: indigo; font-style: oblique;}
div:nth-child(7){color: wheat; font-style: italic; font-size: 20px;}


